@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&display=swap');

/*----General-----*/
body, html {
    height: 100%;
    background-color: #0A122A;
    color: #fafafa;
}


/*-----Navigation------*/

.nav-style {
    background-color: #000000;
    color: #fafafa;
    
}

/*----Hero image-----*/

.hero-image {
    background-image: url(../images/keyboard_landing.jpg);
    height: 90%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.hero-text {
    position: absolute;
    text-align: left;
    top: 45%;
    left: 30%;
    margin-left: 10%;
    transform: translate(-50%, -50%);
    font-family: 'Lato';
    
    color: #fafafa;
    text-shadow: 0px 4px 4px #000000;
    
    
}

.hero-text h1 {
    font-size: 75px;
    font-weight: 700;
}

.hero-text h3 {
    font-size: 62px;
}

/*-----homepage layou-----*/

/*-----Resume page layout---*/

.about {
    margin: 10px 25px 10px 25 px;
    display: inline-block;

}
.section-heading {
    text-align: center;
    padding: 10px;

}

.progress {
    height: 30px;
    width: 70%;
}

.profile {
    margin: 10% 25% 0 25%;
    border-radius: 10px;
    border-color: #fafafa;
}

/*------from rosie project------*/

.progress {
    position: relative;
    height: 30px;
    margin-bottom: 5px;
    
}

.progress-type {
    position: absolute;
    left: 0px;
    font-weight: 400;
    padding: 3px 30px 2px 10px;
    color: #fafafa;
    background-color: rgba(25, 25, 25, 0.2);
}

.progress-section {
    margin: 40px 20px;
}


/*-----portfolio page layout----*/

.project-heading {
    position: relative;
    text-align: center;
    margin-top: 20px;
}

.projects {
    position: absolute;
    float: inline-start;
}
/*----contact page layout-----*/

.contact-heading {
    text-align: center;
    margin-top: 50px;
}
.center-form {
    font-weight: bold;
    padding-top: 30px;
    margin: auto;
    max-width: 70%;
}

.button {
    padding-top: 30px;
}

/*----footer----*/

footer {
    background-color: #000000;
    color: #fafafa;
    min-height: 40px;


}

.social {
    float: right;
    padding-right: 25px;
    color: #fafafa;
}

/*------media query------*/

